* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.emojis {

  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  border: 2px solid rgb(39, 36, 36);
  background-color: rgb(39, 36, 36);
  width: 23vw;
  height: 5vh;
  align-items: center;
  gap: 5px;
}

.emojis button {

  position: relative;
  background-color: inherit;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

/* .skin{
    position: relative;
background-color: inherit;
font-size: 25px;
border: none;
left: 1220px;
top: -35px;
cursor: pointer; 

} */
/* .skinText{
  
  font-size: 10px;
  color: aliceblue;
  border-radius: 5px;
  width: 50px;
   height: 20px;
   
   position: relative;
   left: 435px;
   top: 35px;
} */

.emoji-clicked {
  position: absolute;
  /* top: -75px;*/
  left: 200px;
  font-size: 60px;
  animation-name: moveUp;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes moveUp {
  0% {
    /* transform: translateY(10vh); */
    opacity: 1;

  }

  100% {
    transform: translateY(-350px);
    opacity: 0;
  }
}